<h2 class="mb-5">Shopping cart</h2>
<div *ngIf="items?.length > 0; else noItems" class="col-sm-12 col-md-10 col-lg-8">
    <div class="row mb-3">
        <div class="ml-3 mr-3"><button (click)="clear()" class="btn btn-danger">Clear</button></div>
        <div class="ml-3 mr-3"><button (click)="refresh()" class="btn btn-info">Refresh</button></div>
    </div>
    <div *ngFor="let item of items" class="row cart-item">
        <div class="col-3"> <a [routerLink]="'/article/' + item[0].id">{{ item[0].name }}</a> </div>
        <div class="col-1"> x{{ item[1] }} </div>
        <div class="col-3"> <span class="small">CHF</span> {{ item[0].price | number:'.2' }} </div>
        <div class="col-3"> <span class="small">CHF</span> {{ (item[0].price * item[1]) | number:'.2' }} </div>
        <div class="col-1">
            <button (click)="removeItem(item[0].id)" class="btn btn-delete"><i class="material-icons">delete</i></button>
        </div>
        <!-- <div class="col-1">
            <button class="btn btn-edit"><i class="material-icons">edit</i></button>
        </div> -->
    </div>
</div>
<ng-template #noItems>
    There are no items in the cart.
</ng-template>