.cart-item-table {
    * {
        // border: 1px solid black;
    }
    thead {
        color: grey;
        th {
            font-weight: normal;
        }
        border-bottom: 1px solid lightgrey;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.8;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-delete {
     :hover {
        color: #d9534f;
    }
}

.btn-edit {
     :hover {
        color: #0275d8;
    }
}