.article {
    * {
        color: black;
        text-decoration: none;
    }
    .card-title {
        font-size: larger;
        margin-bottom: 1px;
    }
    .card-text {
        font-size: smaller;
    }
    div.card {
         :hover {
            opacity: 0.8;
        }
        margin-bottom: 1.5rem;
    }
}