<article>
    <!-- Category menu -->
    <div class="row">
        <div class="list-group col-sm-4 col-lg-4 align-self-center">
            <div class="list-group-item">Categories</div>
            <div class="list-group-item" *ngFor="let category of categories">
                <a [routerLink]="'articles/' + category.id" class="stretched-link">
                    {{ category.name }}
                </a>
            </div>
        </div>

        <!-- Welcome -->
        <div class="col-sm-8 col-lg-8 mt-2 text-center">
            <h2>Welcome</h2>
            <img src="../../assets/img/placeholder-300x202.jpg" alt="Some image" />
        </div>
    </div>
</article>
<article class="mt-5">
    <h2>Featured</h2>
    <div class="row" style="text-decoration: none;">
        <a *ngFor="let article of articles" class="article col-xs-6 col-sm-4 col-md-3 col-lg-2" [routerLink]="'article/' + article.id">
            <img src="../../assets/img/default-placeholder-image.png" class="card-img-top" alt="Article image " />
            <p class="card-title">{{ article.name }}</p>
            <p class="card-text"> {{ article.price | currency:'CHF':'symbol':'.2' }} </p>
        </a>
    </div>
</article>